{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}
<section class="user_profile_main_block">
  <div class="container py-5">
    {{ drupal_block('views_block:user_profile-all_user_details') }}
    {{ drupal_block('views_block:user_profile-expertise_and_field_interests') }}
    {{ drupal_block('views_block:user_profile-affiliation_education_mentor') }}
  </div>
  {{ content._layout_builder }}
</section>
