<div class="d-block">
  <a href="/user/login{% if redirectPath %}?destination={{ redirectPath }}{% endif %}">Log in</a> or <a href="/form/user-registration{% if destination %}?redirectPath={{ destination }}{% endif %}">sign up</a> to access this page.
</div>
