@import "scss/variables/mixins";
@import "scss/variables/variables";

@include font-face($font-family, 'normal', 'italic', 'OpenSans-Italic-VariableFont_wdth,wght.ttf', 'truetype');
@include font-face($font-family, 'normal', 'normal', 'OpenSans-VariableFont_wdth,wght.ttf', 'truetype');
@include font-face($font-family, 'normal', 'normal', 'OpenSans.woff2', 'woff2');


h1, h2, h1 a, h2 a {
  font-family: $font-family, sans-serif;
}
h1, h1 a {
  font-weight: $font-weight-normal;
  letter-spacing: 0.05em;
}
h2, h2 a {
  font-weight: $font-weight-semibold;
}
h3, h4, h5, h6, h3 a {
  font-family: $font-family, sans-serif;
}
h3, h3 a {
  font-weight: $font-weight-semibold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
body, p, a, li, button, input {
  font-family: $font-family, sans-serif;
}

body, p, a, li {
  text-transform: none;
}

a {
  text-transform: none;
  text-decoration: underline;
  color: $gcs-blue-rgb;
}

h1 {
  font-size: $font-size-xs-mediumlarge;
}

h2 {
  font-size: $font-size-md-mediumlarge;
}

h3 {
  font-size: $font-size-lg-mediumlarge;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

h1, h2, h3 {
  line-height: 1.2;
}

p {
  line-height: 1.5;
}

span.display-large {
  font-size: $font-size-lg-extralarge;
  font-weight: $font-weight-bold;
  line-height: $line-height-lg-extralarge;
}

span.display-medium {
  font-size: 2.5rem;
  font-weight: $font-weight-bold;
  line-height: 2.85rem;
}

span.display-small {
  font-size: $font-size-xxs-mediumlarge;
  line-height: $line-height-xxs-mediumlarge;
  font-weight: $font-weight-bold;
}

label, p, body {
  font-size: $font-size-sm-extralarge;
  line-height: $line-height-sm-extralarge;
}

label {
  padding-bottom: 5px;
}
